@charset "ISO-8859-1";

destino {
	background-color: black;
	color: white;
	font-family: "Comic sans ms";
	font-size: 30;
	display: block;
}

detalles {
	background-color: cyan;
	font-family: "Verdana";
	font-size: 20;	
	display: block;
}

escala {
	font-family: "Verdana";
	font-size: 15;
	display: block;	
}

parada {
	width: 250px;
	display: inline-block;
}

llegada, salida {
	width: 100px;
	display: inline-block;
}